BODY {FONT-FAMILY: Verdana}

#my1 {COLOR: #000000;font-family: Verdana; TEXT-DECORATION: none; font-size: 15 px;}
#my1:hover {COLOR: black; font-family: Verdana; TEXT-DECORATION: none}

a, a:visited {text-decoration: none; color: #000000; font-size: 12 px;font-family: Verdana;}
a:hover, a:active {text-decoration: none; color: black;}

A.menu {COLOR: #000000;font-family: Verdana; TEXT-DECORATION: none; font-size: 12 px;}
A.menu:hover {COLOR: black;font-family: Verdana; TEXT-DECORATION: none}

.maininput {FONT-SIZE: 12px; WIDTH: 200px; font-size: 11; color: 000000; border: #808080 1 solid;}
.simpleok {WIDTH: 50px; height:18px; background-color: #cccccc; font-size: 10; color: 000000; font-weight: bold; border: #808080 1 solid;}
.longok {WIDTH: 130px; height:20px; background-color: #cccccc; font-size: 10; color: #cccccc; border: #808080 1 solid;}

.toptable {FONT-SIZE: 9px; background: #a09d9d}

.small {FONT-SIZE: 11px;}

TD {FONT-SIZE: 11px}
TD.menu {FONT-SIZE: 11px; FONT-WEIGHT: bold; color: #cccccc}
TD.main {FONT-SIZE: 13px; FONT-WEIGHT: bold}

TABLE.bakfon {background: #7d7777}
TR.vip {background: #7d7777}
TR.row1 {background: #d7d4d4}
TR.row2 {background: #FFFFFF}

.pgbutt     {font-family: Verdana; font-size:10px; padding-top:2px;padding-bottom:2px}
.pgbutt .sel{color: #FFCD95; border: 1px #019FFE solid; background: #FF8000 padding:0px 2px 0px 2px;}
.pgbutt a   {color: #FFB404; border: 1px #5151FF solid; width:10px; padding:0px 2px 0px 2px; background: #ffffff;}
.pgbutt a:hover   {color: #FFF5DD; border: 1px #019FFE solid; background: #FFC02F}
.pgbutt a:visited {color: #A47300; border: 1px #FF0000 solid; TEXT-DECORATION: none;}



